@{
    ViewBag.Title = "Hola Mundo";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-4">
        <h2>Hola Mundo</h2>
        <p>Bienvenido a mi aplicación web ASP.NET. ¡Hola Mundo!</p>
    </div>
</body>
</html>
